/*
 * SPDX-License-Identifier: Apache-2.0
 * Copyright (c) 2023 RSA FG
 */

/ {
	chosen {
		/* zephyr,console = &cdc_acm_uart0; */
		/* zephyr,shell-uart = &cdc_acm_uart0; */
	};

	buttons {
		compatible = "gpio-keys";
		debounce-interval-ms = <250>;
		dali_rx: dali_rx {
			gpios = <&gpiob 11 GPIO_ACTIVE_LOW>;
			label = "DALI read";
		};
	};

	leds {
		compatible = "gpio-leds";
		dali_tx: dali_tx {
			gpios = <&gpiob 10 GPIO_ACTIVE_LOW>;
			label = "DALI write";
		};
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
